# SPDX-FileCopyrightText: 2020 Jason Francis <jason@cycles.network>
# SPDX-License-Identifier: GPL-3.0-or-later

*.go
*.go.*
*.x
*.pc
/env
wayland-scanner-guile
wayland/config.scm
wayland/*/*.scm
!wayland/*/core.scm
!wayland/*/util.scm

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
*.log
*.trs

# http://www.gnu.org/software/autoconf

autom4te.cache
/aclocal.m4
/build-aux
/config.status
/configure

# https://www.gnu.org/software/libtool/

/ltmain.sh
/libtool
.libs/
*.lo
*.la

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

/m4/

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
